html {
    font-size: 20px; 
    font-family: "Rowdies", serif;
    font-weight: 300;
    font-style: normal; 
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
}

#background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("https://wallpapercave.com/wp/wp5502431.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#outer {
    height: 100vh;
    max-width: 70vw;
    padding: 2vw;
    font-size: 20px;
    background-color: rgb(33, 32, 64, 0.8);
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 6vh 0 0 0;
    max-width: 70vw;
    color: aliceblue;
    font-weight: 200;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0 0 6vh 0;
    max-width: 70vw;
    color: aliceblue;
    font-weight: 200;
}

#line {
    border-top: 3px solid rgb(27, 26, 51);
    max-width: 36vw;
    min-width: 70%;
    margin: auto;
    margin-bottom: 1vh;
}

#content {
    height: 42vh;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    padding: 1vw;
}

#table1 {
    display: inline-block;
}

#table2 {
    display: inline-block;
}

#spacer {
    width: 5vw;
    display: inline-block;
}

#super_title1,
#super_title2,
#super_title3,
#super_title4,
#super_title5,
#super_title6 {
    margin-top: -1vh;

    color: rgb(86, 94, 136); 
    font-size: 16px;
    font-weight: 300;
}

.hide {
    display: none;
    opacity: 0;
}

.appear {
    display: block;
    animation: show 1s ease;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    width: 14vw;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    margin-right: 1vw;
    margin-bottom: 3vh;
    background-color: #1b1a33;

    color: aliceblue;
    text-align: center;
    font-size: 28px;  

    cursor: pointer;
    transition: all 0.4s ease;
}

.title:hover {
    transform: scale(1.06);
}

.options {
    width: 14vw;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 8px 5px 8px 5px;
    margin-right: 1vw;
    margin-bottom: 3vh;

    color: aliceblue;
    text-align: center;
    font-size: 20px;  

    cursor: pointer;
}

#cat1,
#cat2,
#cat3,
#cat4,
#cat5,
#cat6 {
    background-color: #1b1a33;
}

#lock {
    display: fixed;
    justify-content: center;
}

#randomize {
    width: 24vw;
    height: 36px;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(27, 26, 51);

    color: aliceblue;
    text-align: center;
    font-size: 28px;  

    cursor: pointer;
    transition: all 0.4s ease;
}

#randomize:hover{
    transform: scale(1.1);
}

img {
    margin: auto;
    margin-bottom: 2vh;
    margin-right: 0.5vw;

    cursor: pointer;
    transform: rotate(0deg) scale(1);
}

@keyframes rot {
    60% {
        transform: rotate(10deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

img:focus {
    animation: rot 0.4s ease;
}

img:active {
    animation: none;
}

.dim {
    opacity: 0.3;
}

#info {
    font-size: 16px;
    text-align: center;
    margin: 0;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    min-width: 100px;

    color: rgb(86, 94, 136);
    font-weight: 200;
}

#hint {
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-top: 1vh;

    color: rgb(86, 94, 136);
    font-weight: 200;
}

a {
    color:rgb(86, 94, 136);
}

a:hover {
    color: aliceblue;
}

@media only screen and (max-width: 1200px) {
    #outer {
        margin-left: 1vw;
    }
    
    #outer, h1, h2, #content, #table1, #table2 {
        width: 60vw;
        max-width: 60vw;
    }

    #cat1, #cat2, #cat3, #cat4, #cat5, #cat6 {
        width: 20vw;
        max-width: 30vw;
        margin-right: 10px;
        padding: 1vh 0 1vh 0;
        font-size: 20px;
    }

    img {
        width: 40px;
        height: 100%;
    }
}

@media only screen and (max-width: 800px) {
    #outer {
        margin-left: 1vw;
    }
    
    #outer, h1, h2, #content, #table1, #table2 {
        width: 90vw;
        max-width: 90vw;
    }

    h1 {
        font-size: 34px;
        padding: 1vh 0 0 0;
    }

    h2 {
        font-size: 18px;
        padding: 0 0 2vh 0;
    }

    #content {
        height: 42vh;
        padding: 0px;
    }

    #spacer {
        display: none;
    }

    #cat1, #cat2, #cat3, #cat4, #cat5, #cat6 {
        width: 34vw;
        max-width: 34vw;
        font-size: 18px;
        margin-right: 6px;
        padding: 1vh 0 1vh 0;
    }

    img {
        width: 40px;
        height: 100%;
    }

    #randomize {
        width: 50vw;
        max-width: 50vw;
        height: 30px;
        margin-top: 6vh;
        font-size: 24px;
    }
}
